/* import google fonts */
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/* varaibles CSS */
:root{
    --header-height: 3rem;
    --font-semi: 600;
}

:root{
    --first-color: #4f8a8b;
    --second-color: #222831;
    --third-color: #fbd46d;
}

:root{
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px){
    :root{
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --h3-font-size: 1.3rem;
        --h4-font-size: 1.1rem;
        --normal-font-size: 1rem;
    }
}

/*===== Margenes =====*/
:root{
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    --mb-7: 4rem;
}
/*===== Z index =====*/
:root{
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}
/*===== Base =====*/
*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
    background-color: #f6f5f5;
}
h1,h2,p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}

/*===== Class CSS =====*/
.section-title{
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;
}
.section__subtitle{
    position: absolute;
    font-size: var(--normal-font-size);
    margin-top: 0;
    margin-bottom: var(--mb-2);
    text-align: center;
    width: 100%;
}

.section-title::after{
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}
.section{
    padding-top: 3rem;
    padding-bottom: 2rem;
}

/*===== Layout =====*/
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
    align-items: center;
}

.f-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: rgba(254, 254, 254, .5);
    box-shadow: 0 1px 4px rgb(146,161,176,0.15);
}
/* .f-header.scrolled {
    background-color: var(--second-color) !important;
    transition: background-color 200ms linear;
} */

/*===== Nav =====*/
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}
@media screen and (max-width: 768px){
    .nav__menu{
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 70%;
        height: 100%;
        padding: 2rem;
        /* background-color: var(--second-color); */
        transition: .6s;
        background-color: rgba(250, 250, 250, .6);  
        backdrop-filter: blur(15px);
    }
    .nav__link{
        position: relative;
        color: var(--second-color) !important;
    }
    .nav__link:hover{
        background-color: #f6f5f5 !important;
        position: relative;
    }
    .nav__link:hover::after{
        position: absolute !important;
        content: "";
        width: 100%;
        height: 0.2rem;
        left: 0;
        top: 2rem;
        background-color: var(--first-color);
    }
    .f-header{
        background-color: rgba(254, 254, 254, .85) !important;
    }
}
.nav__logo:hover{
    color: var(--third-color);
}
.nav__item{
    margin-bottom: var(--mb-4);
}
.nav__link{
    position: relative;
    color: #f6f5f5;
}
.nav__link:hover{
    position: relative;
}
.nav__link:hover::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.2rem;
    left: 0;
    top: 1.9rem;
    background-color: var(--third-color);
}
.nav__logo{
    color: var(--second-color);
}
.nav__toggle{
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
}

/*===== Active menu =====*/
.active::after{
    position: absolute;
    content: "";
    width: 70%;
    height: 0.18rem;
    left: 0;
    top: 1.9rem;
    background-color: var(--third-color);
    transition: .4s;
  }
/*===== show menu =====*/
.show{
    right: 0;
}

/*===== Home =====*/
.home{
    height: calc(100vh - 3rem);
    row-gap: 1rem;
}
.home__data{
    align-self: center;
}
.home__title{
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
}
.home__title-color{
    color: var(--first-color);
    text-shadow: 0 9px 30px #dddddd;

    /* background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
}
.home__social{
    display: flex;
    flex-direction: column;
}
.home__social-icon{
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 1.5rem;
    color: var(--second-color);
}
.home__social-icon:hover{
    color: var(--third-color);
}
.home__img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 298px;
}
/* Buttons */
.button{
    display: inline-block;
    background-color: var(--third-color);
    color: #f6f5f5;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
    transition: .6s;
    -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}
.button:hover{
    /* box-shadow: 0 10px 36px rgb(0,0,0,.18); */
    -webkit-box-shadow:  17px 13px 25px #d7d7da, -15px -15px 27px #ffffff;
    box-shadow:  17px 13px 25px #d7d7da, -15px -15px 27px #ffffff;
}
/*===== About =====*/
.about__container{
    row-gap: 2rem;
    text-align: center;
}
.about__subtitle{
    margin-bottom: var(--mb-2);
}
.about__img{
    justify-self: center;
}
.about__img img{
    width: 210px;
    border-radius: .5rem;
}
.about__stpry{
    text-align: center;
}

/*===== Education =====*/
.education__container{
    row-gap: 2rem;
}
.education__content{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}
.education__year, .education__race{
    font-size: var(--h3-font-size);
    margin-bottom: .25rem;
}
.education__specialty, .education__univer{
    display: block;
    font-size: .8rem;
}
.education__year, .education__univer{
    text-align: right;
}
.education__time{
    padding: 0 1rem;
    justify-self: center;
}
.education__rounder{
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--third-color);
    border-radius: 50%;
}
.education__rounder::before{
    content: '';
    position: absolute;
    transform: translate(-4px, -4px);
    width: 20px;
    height: 20px;
    border: 1px solid var(--third-color);
    border-radius: 50%;
}
.education__line{
    display: block;
    /* position: absolute; */
    height: 90%;
    width: 2px;
    background-color: var(--third-color);
    transform: translate(5px, -4px);
}

/*===== Skills =====*/
.skills__container{
    row-gap: 2rem;
    text-align: center;
}
.skills__subtitle{
    margin-bottom: var(--mb-2);
}
.skills__text{
    margin-bottom: var(--mb-4);
}
.skills__data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: .5rem 1rem;
    margin-bottom: var(--mb-4);
    border-radius: .5rem;
    /* box-shadow: 0 4px 25px rgb(14,36,49,.15); */
    -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}
.skills__icon{
    font-size: 2rem;
    margin-right: var(--mb-2);
    color: var(--first-color);
}
.skills__name{
    display: flex;
    align-items: center;
}
.skills__bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--first-color);
    height: .25rem;
    border-radius: .5rem;
    z-index: var(--z-back);
}
/* Technical skills */
.skills__python{
    width: 95%;
}
.skills__java{
    width: 90%;
}
.skills__html{
    width: 80%;
}
.skills__css{
    width: 75%;
}
/* Other skills */
.skills__problem{
    width: 90%;
}
.skills__learning{
    width: 90%;
}
.skills__commu{
    width: 80%;
}
.skills__sport{
    width: 100%;
}

.skills__img img{
    border-radius: .5rem;
}

/*===== Project =====*/
.work{
    text-align: center;
}
.work__container{
    row-gap: 2rem;
}
.work__img{
    /* box-shadow: 0 4px 25px rgb(14,36,49,.15); */
    -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    border-radius: .5rem;
    overflow: hidden;
}
.work__img img{
    transition: .6s;
    cursor: pointer;
}
.work__img img:hover{
    transform: scale(1.1);
}
.work__intro{
    color: var(--second-color);
    margin-left: 17%;
    margin-right: 17%;
    margin-bottom: 1.5%;
}

/*===== Project =====*/
.project{
    text-align: center;
}
.project__container{
    row-gap: 2rem;
}
.project__img{
    /* box-shadow: 0 4px 25px rgb(14,36,49,.15); */
    -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    border-radius: .5rem;
    overflow: hidden;
}
.project__img img{
    transition: .6s;
    cursor: pointer;
}
.project__img img:hover{
    transform: scale(1.1);
}
.learned_text{
    font-size: var(--h4-font-size);
    margin-bottom: 20px;
}

/*===== Contact =====*/
.contact__input{
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    padding: 1rem;
    border-radius: .5rem;
    border: 1.4px solid var(--second-color);
    outline: none;
    margin-bottom: var(--mb-3);
}
.contact__button{
    display: block;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
    margin-left: auto;
}
/*===== Footer =====*/
.footer{
    background-color: var(--second-color);
    color: #f6f5f5;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
}
.footer__title{
    font-size: 1.6rem;
    margin-bottom: var(--mb-4);
}
.footer__social{
    margin-bottom: var(--mb-4);
}
.footer__icon{
    font-size: 1.5rem;
    color: #f6f5f5;
    margin: 0 var(--mb-2);
}
.footer__icon:hover{
    color: var(--third-color);
}
/*===== Media Queries =====*/
@media screen and (min-width: 768px){
    body{
        margin: 0;
    }
    .section{
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
    .section-title{
        margin-bottom: var(--mb-6);
    }
    .section-title::after{
        width: 80px;
        top: 3rem;
    }
    .nav{
        height: calc(var(--header-height) + 1rem);
    }
    .nav__list{
        display: flex;
        padding-top: 0;
    }
    .nav__item{
        margin-left: var(--mb-6);
        margin-bottom: 0;
    }
    .nav__toggle{
        display: none;
    }
    .nav__link{
        color: var(--second-color);
    }
    .home{
        height: 100vh;
    }
    .home__data{
        align-self: flex-end;
    }
    .home__social{
        padding-top: 0;
        padding-bottom: 2.5rem;
        flex-direction: row;
        align-self: flex-end;
    }
    .home__social-icon{
        margin-bottom: 0;
        margin-right: var(--mb-4);
    }
    .home__img{
        width: 457px;
        bottom: 15%;
    }
    .about__container, .skills__container{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        text-align: initial;
    }
    .about__img img{
        width: 300px;
    }
    .work__container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .project__container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .contact__form{
        width: 360px;
    }
    .contact__container{
        justify-items: center;
    }
}
@media screen and (min-width: 1024px){
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
    .f-header{
        background-color: rgba(254, 254, 254, .5);
        backdrop-filter: blur(8px);
    }
    .home__img{
        right: 10%;
    }
}


/*---- Proper css card -----*/

/* End Non-Essential  */

.property-card
{
  height:20em;
  width:80%;
  margin-left: auto;
  margin-right: auto;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:.7rem;
  overflow:hidden;
  -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image
{
  height:7em;
  width:100%;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size:cover;
  background-repeat:no-repeat;
}

/* Bottom Card Section */

.property-description
{
  background-color: #FAFAFC;
  height:13em;
  width:100%;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:center;
}

/* Social Icons */

.property-social-icons
{
  width:1em;
  height:1em;
  background-color:black;
  position:absolute;
  bottom:1em;
  left:1em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Property Cards Hover States */

.property-card:hover .property-description
{
  height:0em;
  padding:0px 1em;
}
.property-card:hover .property-image
{
  height:20em;
}

.property-card:hover .property-social-icons
{
  background-color:white;
}

.property-card:hover .property-social-icons:hover
{
  background-color: var(--first-color);
  cursor:pointer;
}

/* ========PROJECT PAGE=========== */
.project_section-title{
    position: relative;
    font-size: var(--h3-font-size);
    color: var(--second-color);
    margin-top: var(--mb-7);
    margin-bottom: var(--mb-4);
}
.project_section__subtitle{
    position: absolute;
    font-size: var(--normal-font-size);
    color: var(--first-color);
    margin-top: 0;
    margin-bottom: var(--mb-2);
    width: 100%;
}
.project_section-title::after{
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}
/*project-section tilte */